footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}

nav.page-nav {
    height: 50px;
    border-bottom: 1px solid #0293a2;
    position: relative;
    z-index: 5;
}
nav.page-nav::after {
    content: "";
    display: block;
    clear: both;
}
.page-nav ul {
    list-style: none;
}
.page-nav ul li {
    color: #00f0ff;
    float: left;
    padding: 0 8px;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
}
.page-nav ul li a {
    color: #00f0ff;
    text-decoration: none;
    display: block;
}
.page-nav ul.menu .glyphicon {
    vertical-align: middle;
    font-size: 12px;
    transform: scale(0.9, 0.9);
}
.page-nav ul.menu {
    float: left;
    width: 85%;
}
.page-nav ul.menu li {
    position: relative;
}
.page-nav ul.menu li:hover {
    background-color: #024a5d;
}
.page-nav ul.menu li:hover ul.sub {
    display: block;
}
.page-nav ul.sub {
    position: absolute;
    top: 50px;
    left: 0;
    width: 150px;
    border: 1px solid #0293a2;
    border-top: 0;
    background-color: #022034;
    box-shadow: 0 0 5px rgba(255,255,255,0.1), inset 0 0 5px rgba(58, 245, 255, 0.5);
    display: none;
}
.page-nav ul.sub li {
    margin: 0;
    display: block;
    float: none;
    line-height: 36px;
    border-bottom: 1px solid #0293a2;
    padding: 0 5px;
    background-color: #012034;
}
.page-nav ul.sub li:last-child {
    border-bottom: 0;
}
.page-nav ul.sub li:hover {
    background-color: #024a5d;
}
.page-nav ul.opts {
    float: right;
    width: 15%;
}

.page-nav ul.opts li {
    float: right;
}

.main-frame {
    position: absolute;
    border: 1px solid #3af5ff;
    box-shadow: 0 0 0 #3af5ff, inset 0 0 5px rgba(58, 245, 255, 0.5);
    top: 70px;
    bottom: 40px;
    right: 30px;
    left: 30px;
}
.main-frame .corner {
    width: 44px;
    height: 44px;
    position: absolute;
    background: transparent url(../assets/images/corner-big.png) no-repeat;
}
.main-frame .corner.c-t-l {
    background-position: 0 0;
    top: -2px;
    left: -2px;
}
.main-frame .corner.c-t-r {
    background-position: -44px 0;
    top: -2px;
    right: -2px;
}
.main-frame .corner.c-b-l {
    background-position: -88px 0;
    bottom: -12px;
    left: -2px;
}
.main-frame .corner.c-b-r {
    background-position: -132px 0;
    bottom: -12px;
    right: -2px;
}

.main-frame header {
    display: block;
    height: 54px;
    width: 100%;
    text-align: center;
}
.main-frame header span {
    display: inline-block;
    line-height: 46px;
    height: 54px;
    position: relative;
    min-width: 400px;
    color: #00f0ff;
    font-size: 16px;
    font-weight: 600;
    background: transparent url(../assets/images/list-header-bg.png) 0 -54px repeat-x;
    top: -1px;
}
.main-frame header span::before, .main-frame header span::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background: transparent url(../assets/images/list-header-bg.png) no-repeat;
    width: 58px;
}
.main-frame header span::after  {
    background-position: -58px 0;
    right: 0;
}

.search-form {
    padding: 20px 10px;
}
.search-form::after {
    display: block;
    content: "";
    clear: both;
}
.search-form label.input-group, .search-form label.btn-group {
    float: left;
    position: relative;
    margin-left: 10px;
}
label.input-group .input-group-addon {
    top: 0;
    background-color: transparent;
    border-radius: 0;
    border-color: #00f0ff;
    color: #00f0ff;
    cursor: pointer;
}
.search-form .btn-default:focus, .search-form .btn-default:active  {
    background-color: transparent;
    color: #00bbc7;
}
.search-form .btn-group button {
    height: 34px;
    border-radius: 0;
    line-height: 34px;
    border-radius: 0;
    padding: 0 10px;
    font-size: 14px;
}

.grid-data {
    margin: 0 20px 20px;
}
.grid-data .table thead {
    color: #9faeb6;
    font-size: 14px;
    font-weight: bold;
    background-color: #0f3448;
    box-shadow: inset 0 0 10px rgba(15, 69, 88);
}
.grid-data .table tbody tr:nth-child(even) {
    background-color: #02283c;
}
.grid-data .table tr td, .grid-data .table thead th {
    border: 0;
    padding: 12px 8px;
    color: #9faeb6;
}
.grid-data .table tr td{
    color: #dee2e5;
}

.pagination-info {
    margin: 0 20px;
    line-height: 20px;
    color: #9aa6ae;
}
.pagination-info::after{
    display: block;
    content: "";
    clear: both;
    width:100%;
}
.pagination-info .left {
    float: left;
}
.pagination-info .left button {
    padding: 2px 10px;
}
.pagination-info .left .dropdown-menu {
    bottom: 25px;
    top: auto;
}
.pagination-info .left .dropdown-menu a {
    padding: 5px 10px;
}
.pagination-info .left label {
    display: inline-block;
}
.pagination-info .right {
    float: right;
}
.pagination-info .right .btn {
    padding: 2px 10px;
    background: transparent;
    border: 1px solid #b8bcbf;
}

.pagination-info .right .btn:hover, .pagination-info .right .btn.selected {
    background-color: #00f0ff;
    border-color: #00f0ff;
    color: #023c4f;
}
.pagination-info-href {}
.pagination-info-href .btn {
    padding: 2px!important;
    border: 0!important;
    color: #0bbcc7!important;
}
.pagination-info-href .btn:hover {
    background-color: transparent !important;
    color: #00f0ff!important;
}
.pagination-info-href .btn:disabled {
    background-color: transparent !important;
    color: #054773;
}

.main-frame-frozen {}
.main-frame-frozen .pagination-info {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    margin: 0;
}
.main-frame-frozen .grid-data {
    position: absolute;
    top: 130px;
    bottom: 55px;
    left: 20px;
    right: 20px;
    overflow: auto;
    margin: 0;
}

.time-line-row {
    display: block;
    position: relative;
    color: #fff;
    margin-bottom: 0;
}
.time-line-row dt {
    position: absolute;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    width: 100px;
    padding-right: 20px;
}
.time-line-row dt i{
    font-style: normal;
    display: block
}
.time-line-row dt span{
    display: block;
    color: #00f0ff;
}
.time-line-row dt b {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    position: absolute;
    top: auto;
    right: -4px;
    background-color: #fff;
    z-index: 1;
}
.time-line-row dt::before{
    content: "";
    display: block;
    border-right: 1px dashed #677985;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.time-line-row dd {
    display: block;
    padding: 0 0 0 120px;
    font-weight: 300;
}
.time-line-row dd span {
    display: block;
    padding: 10px;
    background-color: #02283c;
}
.time-line-row dd::after {
    content: "";
    display: block;
    height: 20px;
    margin:0;
    padding: 0;
}
.time-line-row .time {
    position: absolute;
    top: 0;
}

.time-line-row:last-child dd::after {
    display: none;
}
